/* Style para tener un footer en la parte inferior colocado correctamente */
html {
    width:100%;
    min-height: 100%;
    position: relative;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: black;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    bottom: 0px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.swal-text {
    text-align: center;
}
        
/* Style para tener un footer en la parte inferior colocado correctamente */