@{
    ViewBag.Title = "Contacto";
}

<div style="height: 78.3vh;">
    <h1 class="mt-3">@ViewBag.Title</h1>
    <strong>Teléfono:</strong><a href="tel:+56932151752">+56932151752</a><br />
    <strong>Ignacio Chávez:</strong>   <a href="mailto:ignacio.chavez4646@gmail.com">ignacio.chavez4646@gmail.com</a><br />
</div>