@{
    ViewBag.Title = "Inicio";
}

<div style="height: 80vh;">
    <div class="jumbotron">
        <h1>Bienvenido!</h1>
        <p class="lead">Esta aplicación es una pagina web MVC de muestra</p>
        <hr class="my-4">
        <p>Para comenzar, asegurate de tener en ejecución la aplicación OpenAPICSharp la cual es una API Rest que es consumida por esta aplicación. Tambien debe apuntar correctamente en el archivo de configuración web.config. en el caso de que no este apuntando correctamente a la url</p>
    </div>
</div>