@{
    ViewBag.Title = "No encontrado";
}

<div style="height: 78.3vh;" class="text-center">
    <h3 class="mt-3">Pagina no encontrada</h3>
    <p>Lo siento, la pagina que esta buscando no se ha encontrado</p>
    <hr class="my-4">
    <h6>@Html.ActionLink("Volver a la pagina de inicio", "Index", "Home")</h6>
</div>